<!-- <div class="action-panel"  *ngIf="!currentProject"> -->
<div class="action-panel">
    <button 
        class="btn" 
        (click)="openNewProject( (projects.length+1)+'' )">Create New</button>

    <div class="title">Projects <span class="refresh icon" title="refresh" (click)="blogEditorService.loadProjects()"></span></div>
</div>

<!-- <div class="projects" *ngIf="!currentProject"> -->
<div class="projects">

    <div 
        class="project"
        *ngFor="let project of projects"
    >

        <div class="panel">
            <div class="action">
                <a [routerLink]="['','blogs','editor',project.projectId]">Edit</a>
            </div>
            <div class="action" (click)="deleteProject(project.projectId)">Delete</div>
        </div>

        <div 
            class="thumbnail"
            [style.background-image]="'url(' + project.thumbnail + ')'"></div>
        <a
            class="title"
            [routerLink]="['','blogs','editor',project.projectId]"
            [title]="project.title"
        >{{project.title.substr(0,50)}}</a>
        <div class="details">
            <span class="creationDate">{{ sharedService.getTime( project.creationDate ) }}</span>
            <span 
                class="category"
                *ngIf="project.category && project.category.name"
            >{{project.category.name}}</span>
        </div>
    </div>

    <div class="no-projects" *ngIf="projects.length==0">
        No projects
    </div>

</div>

<!-- <app-blog-editor
    *ngIf="currentProject"
    (resetCurrentProjectEvent)="resetCurrentProject()"
></app-blog-editor> -->