<app-text-input
    [title]="'Edit Element'"
    [value]="previousValue"
    *ngIf="isTextInputActive"
    (cancelTextInputEvent)="isTextInputActive = false"
    (textInputUpdatedEvent)="isTextInputActive = false; onUpdate($event)"
></app-text-input>

<app-file-upload
    *ngIf="isFileUploadActive"
    (fileUploadSuccessEvent)="isFileUploadActive = false; onUpdate($event)"
    (cancelFileUploadEvent)="isFileUploadActive = false"
></app-file-upload>

<div class="elements">

    <div 
        class="element"
        *ngFor="let element of elements"
        [ngSwitch]="element.name"
        [class.selected]="selectedElementPosition==element.position">

        <div class="menu">
            <div 
                class="action" 
                (click)="edit()" 
                title="Edit"
            >E</div>
            <div 
                class="action" 
                (click)="delete()" 
                title="Delete"
            >D</div>
            <!-- <div 
                class="action" 
                (click)="invokeEvent.emit('add element above')" 
                title="Add element above"
            ></div>
            <div 
                class="action" 
                (click)="invokeEvent.emit('add element below')" 
                title="Add element below"
            ></div> -->
            <div 
                class="action" 
                title="Move UP"
            ></div>
            <div 
                class="action" 
                title="Move Down"
            ></div>
        </div>

        <div class="type heading" *ngSwitchCase="'heading'">
            <div class="value" (click)="selectElement(element.position)">{{element.value}}</div>
        </div>

        <div class="type paragraph" *ngSwitchCase="'paragraph'">
            <div class="value" (click)="selectElement(element.position)">{{element.value}}</div>
        </div>

        <div class="type image" *ngSwitchCase="'image'">
            <div class="img" (click)="selectElement(element.position)">
                <img [src]="element.value" alt="image">
            </div>
        </div>

        <div class="type image-paragraph" *ngSwitchCase="'image & paragraph'">
            <div class="group" (click)="selectElement(element.position)">
                <div class="img">
                    <img [src]="element.value" alt="image">
                </div>
                <!-- <div class="paragraph" *ngIf="">{{element.value}}</div> -->
            </div>
        </div>
        
    </div>

</div>