<div class="output">
    
    <div class="elements">
        <div 
            class="element"
            *ngFor="let element of currentProject.elements"
            [ngSwitch]="element.name"
        >
            <div 
                class="heading"
                *ngSwitchCase="'heading'"
            >{{element.value}}</div>
            <div 
                class="paragraph"
                *ngSwitchCase="'paragraph'"
            >{{element.value}}</div>
        </div>
    </div>
    
</div>