<div class="backdrop" (click)="cancelTextInputEvent.emit()"></div>

<form 
    action="javascript:void(0)" 
    class="textInputForm" 
    #textInputForm="ngForm"
    (ngSubmit)="onSubmit()"
>
    <div class="topbar">
        <span class="heading">{{title}}</span>
        <div class="icon" (click)="cancelTextInputEvent.emit()" title="close (esc)">
            <svg>
                <rect class="line one" />
                <rect class="line two" />
            </svg>
        </div>
    </div>

    <textarea 
        name="value" 
        cols="30" 
        rows="3" 
        [(ngModel)]="value"
        class="input"
        autofocus
        #input
    ></textarea>
    
    <div class="actions">
        <button 
            class="btn cancel"
            (click)="cancelTextInputEvent.emit()" 
        >Cancel</button>
        <button 
            type="submit"
            class="btn submit"
            [disabled]="!(value.length>15)"
        >Submit</button>
    </div>

</form>