<div class="backdrop" (click)="cancelEvent.emit()"></div>

<form 
    class="addElementForm"
    (ngSubmit)="onSubmit()"
>
    <div class="topbar">
        <span class="heading">Select Element</span>
        <div class="icon" (click)="cancelEvent.emit()" title="close (esc)">
            <svg>
                <rect class="line one" />
                <rect class="line two" />
            </svg>
        </div>
    </div>

    <div class="elements" *ngIf="!isLoading">
        <div 
            class="element"
            *ngFor="let element of blogElements"
            (click)="selectElement(element)"
            [class.selected]="element.name == newElement.name"
        >{{element.name | titlecase}}</div>
    </div>

    <div class="loading" *ngIf="isLoading">
        <div class="skeleton-div"></div>
        <div class="skeleton-div"></div>
        <div class="skeleton-div"></div>
        <div class="skeleton-div"></div>
    </div>

    <div class="actions">
        <button 
            class="cancel btn"
            (click)="cancelEvent.emit()"
        >Cancel</button>
        <button 
            type="submit"
            class="btn submit" 
            [disabled]="!newElement.name" 
        >Submit</button>
    </div>
</form>