<div class="tools">

    <div class="tool" *ngIf="user && user.roles && user.roles.includes('ROLE_EDITOR')">
        <div class="thumbnail">
            <img 
                src="../../../assets/tools/blog_editor_thumbnail.jpg" 
                alt="Blog editor thumbnail">
        </div>

        <div class="details">
            <a 
                [routerLink]="['','blogs','editor','dashboard']"
                class="name"    
            >Blog Editor</a>
        </div>
    </div>

    <div class="no-tools" *ngIf="!user">
        <span>No tools for you 😅</span>
    </div>

</div>