<app-add-blog-element
    *ngIf="isAddElementActive"
    (addElementSuccessEvent)="addElement($event); isAddElementActive=false;"
    (cancelEvent)="isAddElementActive=false"
></app-add-blog-element>

<div class="row">
    <div class="sidebar">
        <div class="action sm" title="Add Element" (click)="isAddElementActive=true">
            <svg class="add" width="100%" height="100%">
                <rect x="5%" y="40%" width="90%" height="20%" rx="5%" ry="5%" class="fg" />
                <rect x="40%" y="5%" height="90%" width="20%" rx="5%" ry="5%" class="fg" />
            </svg>
        </div>
        <button class="action" title="Edit Thumbnail">
            <svg class="edit" width="100%" height="100%" style="transform: rotate(-45deg)">
                <rect x="23%" y="34.5%" rx="4.5%" ry="4.5%" height="30%" width="65%" class="fg" />
                <rect x="73%" y="34.5%" height="30%" width="3.125%" class="bg" />
                <rect x="13%" y="34.5%" rx="2.5%" ry="3.125%" height="30%" width="30%" class="fg" style="transform: rotate(45deg); transform-origin: center; transform-box: fill-box" />
                <rect x="13%" y="14.5%" height="20%" width="62.5%" class="bg" />
                <rect x="13%" y="64.5%" height="20%" width="62.5%" class="bg" />
                <rect x="27%" y="42%" width="38%" height="4%" class="bg" />
                <rect x="27%" y="53%" width="38%" height="4%" class="bg" />
            </svg>
        </button>
        <div class="action sm" title="Save" (click)="saveCurrentProject()" *ngIf="changesMade && !changesSaved">
            <svg class="save" width="100%" height="100%">
                <rect width="70%" height="80%" rx="10%" ry="10%" x="15%" y="10%" class="fg" />
                <rect width="30%" height="10%" x="69%" y="12%" class="bg" style="transform: rotate(45deg); transform-origin: center; transform-box: fill-box" />
                <rect width="45%" height="25%" rx="10%" ry="10%" x="23%" y="19%" class="bg" />
                <circle cx="52%" cy="67%" r="12%" class="bg" />
            </svg>
        </div>
        <div class="action sm" title="Discard" (click)="discardCurrentProject()">
            <svg class="discard" width="100%" height="100%">
                <rect width="70%" height="80%" rx="10%" ry="10%" x="15%" y="10%" class="fg" />
                <rect width="30%" height="10%" x="69%" y="12%" class="bg" style="transform: rotate(45deg); transform-origin: center; transform-box: fill-box" />
                <rect width="45%" height="25%" rx="10%" ry="10%" x="23%" y="19%" class="bg" />
                <circle cx="52%" cy="67%" r="12%" class="bg" />
                <rect width="120%" height="10%" rx="5%" ry="5%" x="-10%" y="42.5%" class="fg" style="transform: rotate(45deg); transform-origin: center; transform-box: fill-box"/>
                <rect width="120%" height="10%" x="-20%" y="46.5%" class="bg" style="transform: rotate(45deg); transform-origin: center; transform-box: fill-box"/>
            </svg>
        </div>
    </div>
    <div class="editor" *ngIf="currentProject">
        <app-blog-details
            [title]="currentProject.title"
            [category]="currentProject.category"
            [thumbnail]="currentProject.thumbnail"
            (updateCategoryEvent)="currentProject.category=$event; blogEditorService.currentProject.next(currentProject)"
            (updateThumbnailEvent)="currentProject.thumbnail=$event; blogEditorService.currentProject.next(currentProject)"
            (updateTitleEvent)="currentProject.title=$event; blogEditorService.currentProject.next(currentProject)"
        ></app-blog-details>
        <app-blog-elements></app-blog-elements>
    </div>
</div>