.row
    width: 100%
    min-height: 80vh
    position: relative
    padding: 20px 20px 20px 70px
    display: flex

    .sidebar
        width: 50px
        position: absolute
        top: 0
        bottom: 0
        left: 0
        background: #555
        z-index: 1
        flex-direction: column
        display: flex
        align-items: center
        row-gap: 10px
        padding: 10px 0

        .action
            width: 25px
            height: 25px
            cursor: pointer
            display: flex
            justify-content: center
            align-items: center
            position: relative
            background: #555
            padding: 0
            border: none
            &.sm
                width: 20px
                height: 20px
            &.lg
                width: 25px
                height: 25px

    .editor
        min-height: 80vh
        width: 100%
        padding: 30px 20px
        display: flex
        flex-direction: column
        position: relative
        overflow: hidden
        user-select: none
        // background: rgba(240, 240, 240, 0.75)
        background: rgba(5, 5, 5, 0.03)
        overflow-y: auto
        &::-webkit-scrollbar
            width: 5px
            height: 5px
        &::-webkit-scrollbar-track
            background: transparent
        &::-webkit-scrollbar-thumb
            background: #888
        &::-webkit-scrollbar-thumb:hover
            background: #666
        
    @media screen and (max-width: 1000px)
        .editor
            margin: 0

    @media screen and (max-width: 450px)
        // .category-list,
        .element-list
            width: 100%