@import '../../../../variables'
    
.top-blogs
    width: 100%
    position: relative
    background: rgba(0, 0, 0, 0.25)
    display: flex!important
    flex-wrap: wrap!important
    user-select: none

    .col
        position: relative

        &.one
            width: 60% 
            .row
                width: 100%
                position: relative
                height: 100%
                &.nothing
                    display: flex
                    align-items: center
                    justify-content: center
                    position: absolute
                    top: 50%
                    left: 50%
                    transform: translate(-50%, -50%)

                .bg-image
                    padding-top: 65%
                    height: 100%
                    img
                        position: absolute
                        top: 0
                        left: 0
                        width: 100%
                        height: 100%
                        object-fit: cover
                        -webkit-user-drag: none

                .details
                    position: absolute
                    padding: 20px
                    display: flex
                    flex-direction: column
                    row-gap: 5px
                    bottom: 0
                    .title
                        text-decoration: none
                        color: #111
                        font-size: 20px
                        background: rgba(200, 200, 200, 0.5)
                        padding: 5px
                        text-decoration: capitalize
                    .category
                        width: fit-content
                        text-decoration: none
                        background: #002bff
                        color: #ccc
                        padding: 2px 5px


        &.two
            height: 100%
            display: flex
            flex-direction: column
            width: 40% 

            .row
                width: 100%
                display: flex!important
                flex-wrap: wrap!important
                position: relative
                flex-direction: column-reverse

                &.nothing
                    padding: 22% 0
                    text-align: center
                    background: rgba(1, 1, 1, 0.25)
                    color: #111

                .bg-image
                    flex-grow: 1
                    padding-top: 48.8%
                    img
                        position: absolute
                        top: 0
                        left: 0
                        width: 100%
                        height: 100%
                        object-fit: cover
                        -webkit-user-drag: none

                .details
                    position: absolute
                    padding: 20px
                    row-gap: 10px
                    display: flex
                    flex-direction: column
                    row-gap: 5px
                    .title
                        text-decoration: none
                        color: #111
                        font-size: 20px
                        background: rgba(200, 200, 200, 0.5)
                        padding: 5px
                        text-decoration: capitalize
                        font-size: 16px
                    .category
                        font-size: 14px
                        width: fit-content
                        text-decoration: none
                        background: #002bff
                        color: #ccc
                        padding: 2px 5px




@media screen and (max-width:775px)
    .top-blogs
        flex-direction: column

        .col
            &.one
                width: 100%
                .row
                    &.nothing
                        padding: 22% 0
                        position: relative
                        top: auto
                        left: auto
                        transform: none
                        background: rgba(1, 1, 1, 0.25)
                        span
                            position: relative
                a
                    display: flex
                    align-content: center
                    padding-top: 0
                    img
                        position: relative

            &.two
                width: 100%
                flex-direction: row
                .row
                    a
                        padding-top: 65%
                        img
                            height: 100%



@media screen and (max-width:600px)
    .top-blogs
        .col
            &.one
                .details
                    .title 
                        font-size: 16px
                    .category
                        font-size: 14px

            &.two
                flex-direction: column

                .row
                    .bg-image
                        padding-top: 65%