<div class="top-blogs">
    <div class="col one" *ngIf="blogs[0]">
        <a class="bg-image" [routerLink]="[blogs[0].blogId]">
            <img [src]="blogs[0].thumbnail" alt="">
        </a>

        <div class="details">
            <a [routerLink]="['','blogs','categories',blogs[0].category.categoryId, 'blogs']" 
                class="category">{{blogs[0].category.name}}</a>
            <a 
                [routerLink]="[blogs[0].blogId]"
                class="title"
                [title]="blogs[0].title"
            >{{blogs[0].title.substr(0,60)}}...</a>
        </div>
    </div>
    <div class="col one nothing" *ngIf="!blogs[0]">
        <span>Nothing to display</span>
    </div>

    <div class="col two">
        <div class="row one" *ngIf="blogs[1]">
            <a class="bg-image" [routerLink]="[blogs[1].blogId]">
                <img [src]="blogs[1].thumbnail" alt="">
            </a>

            <div class="details">
                <a [routerLink]="['','blogs','categories',blogs[1].category.categoryId, 'blogs']" 
                    class="category">{{blogs[1].category.name}}</a>
                <a 
                    class="title" 
                    [routerLink]="[blogs[1].blogId]"
                    [title]="blogs[1].title"
                >{{blogs[1].title.substr(0,60)}}...</a>
            </div>
        </div>
        <div class="row one nothing" *ngIf="!blogs[1]">
            <span>Nothing to display</span>
        </div>
        
        <div class="row two" *ngIf="blogs[2]">
            <a class="bg-image" [routerLink]="[blogs[2].blogId]">
                <img [src]="blogs[2].thumbnail" alt="">
            </a>

            <div class="details">
                <a [routerLink]="['','blogs','categories',blogs[2].category.categoryId, 'blogs']"
                    class="category">{{blogs[2].category.name}}</a>
                <a 
                    class="title" 
                    [routerLink]="[blogs[2].blogId]"
                    [title]="blogs[2].title"
                >{{blogs[2].title.substr(0,60)}}...</a>
            </div>
        </div>
        <div class="row two nothing" *ngIf="!blogs[2]">
            <span>Nothing to display</span>
        </div>
    </div>
</div>