<div class="top-blogs">
    <div class="col one">
        <div routerLink="['','blogs']">
            <img src="../../../assets/blog_pictures/image1.jpg" alt="">
        </div>
    </div>

    <div class="col two">
        <div class="row one">
            <div routerLink="['','blogs']">
                <img src="../../../assets/blog_pictures/image2.jpg" alt="">
            </div>
        </div>
        
        <div class="row two">
            <div routerLink="['','blogs']">
                <img src="../../../assets/blog_pictures/image3.jpg" alt="">
            </div>
        </div>
    </div>
</div>