<div class="backdrop" (click)="cancelEvent.emit()"></div>

<form 
    class="selectCategoryForm"
    (ngSubmit)="onSubmit()"
>
    <div class="topbar">
        <span class="heading">Select Category</span>
        <div class="icon" (click)="cancelEvent.emit()" title="close (esc)">
            <svg>
                <rect class="line one" />
                <rect class="line two" />
            </svg>
        </div>
    </div>

    <input 
        type="text"
        name="category-search"
        #searchInput
        class="search-input"
        placeholder="Search category"
        [(ngModel)]="searchCategoryName"
        (keyup)="isLoading= true; filterCategoriesByName()"
    >

    <div class="categories" *ngIf="!isLoading && categorySearchResults.length>0">
        <div 
            class="category"
            *ngFor="let category of categorySearchResults"
            [title]="category.description"
            [class.selected]="category.categoryId == selectedCategory.categoryId"
            (click)="selectCategory(category)"
        >{{category.name}}</div>
    </div>

    <div class="loading" *ngIf="isLoading">
        <div class="skeleton-div"></div>
        <div class="skeleton-div"></div>
        <div class="skeleton-div"></div>
        <div class="skeleton-div"></div>
    </div>
    
    <div class="none" *ngIf="!isLoading && categorySearchResults.length==0">No results</div>
    
    <div class="actions">
        <button 
            class="btn cancel"
            (click)="cancelEvent.emit()"    
        >Cancel</button>
        <button 
            type="submit"
            class="btn submit"
            [disabled]="!selectedCategory.name"
        >Submit</button>
    </div>
</form>