@import '../../../variables'

.header
    width: 100%
    height: 10vh
    display: flex
    justify-content: space-between
    align-items: center
    user-select: none
    background: $dark-theme-color
    color: $dark-theme-text-color

    .logo
        margin: 0 3vw

        img
            width: 90px
            -webkit-user-drag: none
            user-select: none

    .navigation
        padding: 0 20px
        display: flex
        align-items: center
        column-gap: 20px

        .link
            color: $dark-theme-text-color
            text-decoration: none
            letter-spacing: 1px
            font-size: 12px

            &:hover
                text-decoration: underline

            .user
                display: flex
                align-items: center
                column-gap: 5px
                flex-direction: column
                .icon
                    position: relative
                    width: 20px
                    height: 20px
                    display: flex
                    align-items: center
                    justify-content: center
                    .foreground
                        fill: $dark-theme-text-color
                    .background
                        fill: $dark-theme-color
                .name
                    display: flex
                    flex-direction: column
                    font-size: 10px

    .menu-icon
        display: none
        flex-direction: column
        justify-content: space-between
        align-items: center
        row-gap: 5px
        margin: 0 3vw
        cursor: pointer

        .line
            border-radius: 3px
            width: 25px
            height: 4px
            background-color: $dark-theme-text-color


@media screen and (max-width:600px)
    .header
        .navigation
            display: none

        .menu-icon
            display: flex