<app-file-upload
    [folderName]="folderName"
    *ngIf="isFileUploadActive"
    (cancelFileUploadEvent)="isFileUploadActive = false"
    (fileUploadSuccessEvent)="isFileUploadActive= false; updateThumbnailEvent.emit($event); blogEditorService.changesMade.next(true); blogEditorService.changesSaved.next(false)"
></app-file-upload>

<app-text-input
    [title]="'Edit Title'"
    [value]="title"
    *ngIf="isTitleTextInputActive"
    (cancelTextInputEvent)="isTitleTextInputActive = false"
    (textInputUpdatedEvent)="isTitleTextInputActive = false; updateTitleEvent.emit($event); blogEditorService.changesMade.next(true); blogEditorService.changesSaved.next(false)"
></app-text-input>

<app-select-category
    [selectedCategory]="category"
    (changeCategoryEvent)="updateCategoryEvent.emit($event); isCategoryTextInputActive= false; blogEditorService.changesMade.next(true); blogEditorService.changesSaved.next(false)"
    (cancelEvent)="isCategoryTextInputActive= false"
    *ngIf="isCategoryTextInputActive"
></app-select-category>

<div class="title" (click)="isTitleTextInputActive=true">
    {{title}}
</div>

<div class="details">
    <span 
        class="category" 
        [title]="category.description"
        (click)="isCategoryTextInputActive=true"
        *ngIf="category.name"
    >{{category.name | titlecase}}</span>
        
    <span 
        class="category" 
        title="click to select category"
        (click)="isCategoryTextInputActive=true"
        *ngIf="!category.name"
    >Select Category</span>

    <span class="date">{{currentDate | date:'longDate'}}</span>

    <!-- <div class="thumbnail" #thumbnail>
        <img [src]="currentProject.thumbnail" alt="Thumbnail">
        <div class="hover-card" (click)="isFileUploadActive = true">
            <span>Thumbnail ✏️</span>
        </div>
    </div> -->
</div>