.title
    font-size: 30px
    width: 95%
    padding: 10px 0
    cursor: pointer

.details
    width: 100%
    display: flex
    align-items: center
    column-gap: 10px
    padding: 10px 0
    .date
        color: #555
    .category
        padding: 5px 10px
        background: #444
        color: #eee
        border-radius: 4px
        cursor: pointer